<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>

<div class="edit-profile">
    <section  >
    <div class="container  ">
 
<div >
				<div class="card p-4"  data-aos="zoom-in">
  <h1 class="mb-4">Edit your profile</h1>
       <div class="row">
					<div class="col-lg-4">
 <p class="mb-0 labels" >Profile picture</p>
          	<div class="card-body text-center">
							<img src="{{user.picture_url}}" alt="avatar"
								class="rounded-circle img-fluid" style="width: 150px;">
          	</div>
          	<div class=" justify-content-center mb-2">
              <form  action="/edit" method="post" enctype="multipart/form-data">
                
                    <input type="file" name="picture_url">
                 
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
					</div>
					{{#if user}}
      
      		<div class="col-lg-8">
      
         
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 labels"> Username </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.username}}</p>
                <button type="button" class="btn edit-button" data-bs-toggle="modal" data-bs-target="#usernameModal">
                Edit
                </button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 labels"> Email </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
                <button type="button" class="btn edit-button" data-bs-toggle="modal" data-bs-target="#emailModal">
                    Edit
                </button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 labels"> Password </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">************</p>
                 <button type="button" class="btn edit-button" data-bs-toggle="modal" data-bs-target="#passwordModal">
                    Edit
                </button>
              </div>
            </div>
          
       

        		{{/if}}
        </div>
</div>
</div>

      
</section>
 
<!-- The Modal -->
<div class="modal fade" id="usernameModal">
  <div class="modal-dialog"  style="background-color: FFF; color: black;border-radius: 50%">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <i class="fa fa-pencil prefix"></i>
        <h4 class="modal-title">Edit Username</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body md-form form-sm">
                <form action="/edit" method="post">
                    <i class="fa fa-envelope prefix"></i>
                    <label>New Username</label>
                    <input type="text" name="username" class="form-control-sm">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn edit-button">Edit</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="emailModal" style="border-radius: 40%;">
  <div class="modal-dialog"  style="background-color: FFF; color: black; border-radius: 50%">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <i class="fa fa-pencil prefix"></i>
        <h4 class="modal-title">Edit Email</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body md-form form-sm">
                <form action="/edit" method="post">
                <div class="d-flex modals-div">
                    <i class="fa fa-lock prefix"></i>
                    <label>
                        Email
                        <input type="text" name="email" class="form-control-sm">
                    </label>
                </div>
                <div class="d-flex modals-div">
                    <i class="fa fa-lock prefix"></i>
                    <label>
                        Confirm email
                        <input type="text" name="confirmedEmail" class="form-control-sm">
                    </label>
                </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn edit-button">Edit</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
    </form>
  </div>
</div>

<div class="modal fade" id="passwordModal">
  <div class="modal-dialog" style="background-color: FFF; color: black;border-radius: 50%">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <i class="fa fa-pencil prefix"></i>
        <h4 class="modal-title">Edit Password</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
                <form action="/edit" method="post">
                
                <div class="d-flex modals-div">
                  <i class="fa fa-lock prefix"></i>
                  <label>
                      Current Password
                      <input type="text" name="oldPassword">
                  </label>
                </div>
                
                <div class="d-flex modals-div">
                  <i class="fa fa-pencil prefix"></i>
                  <label>
                      New Password
                      <input type="text" name="newPassword">
                  
                  </label>
                </div>

                <div class="d-flex modals-div">
                  <label>
                      <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                      Confirm New Password
                      <input type="text" name="confirmedNewPassword">
                  </label>
                </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn edit-button">Edit</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

    </form>
  </div>
</div>


</body>
</html>