<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <div
      class="mask d-flex align-items-center h-100 gradient-custom-3 sing-up-container"
    >
      <div class="container">
        <div
          data-aos="zoom-in"
          class="row d-flex justify-content-center align-items-center sing-up"
        >
          <div class="col-12 col-md-7">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">

                {{!<div class="d-flex justify-content-center">
                  <img
                    src="https://res.cloudinary.com/duuwrswcs/image/upload/v1670424999/iron-sports/favicon_o7srxx.png"
                    alt="IronSports Logo"
                    width="60"
                    height="60"
                  />
                </div>}}

                <h2 class="text-center title mb-5">Create an Iron-Sports Account</h2>

                <form class="mb-0" action="/signup" method="post">

                  <div class="form-outline">
                    <label
                      class="form-label"
                      for="form3Example1cg"
                    >Username</label>
                    <input
                      type="text"
                      id="form3Example1cg"
                      class="form-control form-control-lg"
                      name="username"
                      placeholder="ironhacker"
                      required
                    />
                  </div>

                  <div class="form-outline">
                      <label
                        class="form-label"
                        for="form3Example3cg"
                      >Email</label>
                    <input
                      type="email"
                      id="form3Example3cg"
                      class="form-control form-control-lg"
                      name="email"
                      placeholder="you@ironhack.com"
                      required
                    />
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-outline">
                    <label
                      class="form-label"
                      for="form3Example4cg"
                    >Password</label>
                    <input
                      type="password"
                      id="form3Example4cg"
                      class="form-control form-control-lg"
                      name="password"
                      placeholder="*********"
                      required
                    />
                  </div>

                  <div class="d-flex justify-content-center">
                    <button
                      type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-3 text-body login-button mb-4"
                    >Register</button>
                  </div>

                  {{#if errorMessage}}
                    <p>{{errorMessage}}</p>
                  {{/if}}
                </form>

                  <button class="btn btn-light google-button btn-lg">
                      <a href="/auth/google" style="width: 100%; display:block">
                        <img
                          class="me-2"
                          src="https://res.cloudinary.com/duuwrswcs/image/upload/v1670424999/iron-sports/googleIcon_mxciti.png"
                          alt="Google Icon"
                        />
                        Register with Google
                      </a>
                  </button>

                  <div class="auth-text mb-0 pb-0">
                    <p class="text-center text-muted mt-4 mb-0 pb-0">Have
                      already an account?
                      <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>