/*general*/
html {
  background-color: black;
}

body {
  font-family: Roboto;
  color: white;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  padding-top: 20px !important;
  text-align: center;
}
.card {
  border: #478f68 2px solid !important;
  border-radius: 5px;
}
/*navbar*/
.navbar {
  background-color: #272727 !important;
  height: 80px;
}
.nav-link {
  font-size: 16px !important;
  color: white !important;
}
.nav-link:hover {
  color: #018786 !important;
}
.buttons_nav_bar {
  border-radius: 5%;
  border: #018786 2px solid !important;
}

.buttons_nav_bar:hover {
  border: white 2px solid !important;
}

/*news*/
.news .column {
  float: left;
  width: 50%;
  padding: 10px;
}
.news .row:after {
  content: "";
  display: table;
  clear: both;
}
.news-card {
  background-color: transparent !important;
  border: #018786 2px solid !important;
  border-radius: 5px;
}

.news-card .card-title {
  font-size: 24px !important;
}
.news-card .card-body {
  padding: 2rem !important;
}
.news-card .description {
  color: #dadada;
}

.news-button {
  background-color: #018786;
  border: none;
}

.news-button:hover {
  color: #018786;
  background-color: white;
}
