/*general*/
html {
  background-color: black;
}

body {
  font-family: Roboto;
  color: white;
}
.body {
  height: fit-content !important;
}
h1 {
  color: white;
  font-size: 48px !important;
  font-weight: 700 !important;
  margin-bottom: 40px !important;
  padding-top: 20px !important;
  text-align: center;
}
h2 {
  color: white;
  font-size: 36px !important;
  font-weight: 700 !important;
}
.card {
  border: #018786 2px solid !important;
  border-radius: 5px;
}
/*navbar*/
.navbar {
  background-color: #272727 !important;
  height: 80px;
}
.navbar-brand {
  display: flex;
}
.navbar-brand img {
  margin-right: 10px;
}
.home .rounded-circle {
  background-color: white !important;
  margin-bottom: 20px;
}
.playersRandom {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
.nav-link {
  font-size: 16px !important;
  color: white !important;
  padding: 0.5rem 1rem !important;
}
.nav-link:hover {
  color: #018786 !important;
}
.buttons_nav_bar {
  border-radius: 5%;
  border: #018786 2px solid !important;
}

.buttons_nav_bar:hover {
  border: white 2px solid !important;
}
.logout {
  border-radius: 5%;
  border: #018786 2px solid !important;
  background-color: transparent !important;
  color: white !important;
}
.profile-button {
  display: flex;
  border-radius: 5%;
  border: #018786 2px solid !important;
  max-height: 45px;
  color: white;
}
.profile-button a {
  padding-left: 12px !important;
}
.profile-button:hover {
  border: white 2px solid !important;
}
.profile-img {
  background-color: white;
  border-radius: 20px;
}
/*home*/
.banner {
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  background-image: url("/images/banner.png");
  filter: grayscale(100%);
}
.home .latestNewsTitle {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.home h3 {
  font-size: 22px;
  font-weight: 500;
}
.home .featurette .lead {
  font-size: 16px !important;
  color: #dadada;
}
.featurette .news-button {
  margin-bottom: 30px;
}
.players-home div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.players-home {
  margin-top: 30px;
}
/*news*/
.news .column {
  float: left;
  width: 50%;
  padding: 10px;
}
.news .row:after {
  content: "";
  display: table;
  clear: both;
}
.news-card {
  background-color: #272727 !important;
  border: #dadada 3px solid !important;
  border-radius: 5px;
  margin-bottom: 25px !important;
}

.news-card .card-title {
  font-size: 24px !important;
}
.news-card .card-body {
  padding: 2rem !important;
}
.news-card .description {
  color: #dadada;
}
.news-card img {
  object-fit: cover;
  height: 100%;
}
.news-button {
  background-color: #018786;
  border: none;
}

.news-button:hover {
  color: #018786;
  background-color: white;
}

/*leagues*/

.leagues-card {
  background-color: #272727 !important;
  border: #dadada 1px solid !important;
  border-radius: 2px;
  margin-bottom: 25px !important;
}
.leagues-card img {
  background-color: white;
}
.teams-card .card-title{
  width: 90%;
}
.leagues-card .card-title {
  width: 90%;
}
.leagues .image-div {
  height: 50%;
}
.leagues .image-div img {
  height: 100%;
  object-fit: contain;
  padding: 1.2rem;
}
.leagues .button-check {
  background-color: #018786;
  color: white;
  border: none;
  width: 100%;
  margin-top: 20px;
  height: 2.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.leagues .button-check:hover {
  color: #018786;
  background-color: white;
}
.standings-groups {
  overflow: scroll;
  max-height: 566px;
  min-height: 566px;
  padding: 10px 30px;
}
.standings-normal {
  overflow: scroll;
  max-height: 566px;
  padding: 10px 30px;
}
.standing-table td {
  font-size: 14px;
}
.leagueTeamsTitle {
  margin-bottom: 20px;
}
.form-select {
  background-color: #272727 !important;
  border: #272727 !important;
  color: white !important;
  fill: white;
}
.form-control {
  background-color: #272727 !important;
  border: #272727 !important;
  color: white !important;
}
/*teams*/
/*teams cards*/

.cardTeamsInfo .image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white !important;
}
.cardTeamsInfo .image-div img {
  height: 100%;
  object-fit: contain;
  padding: 1.2rem;
}
.cardTeamsInfo {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
  color: white;
  margin-top: 30px;
}

.teams-card {
  background-color: #272727 !important;
  border: #dadada 1px solid !important;
  border-radius: 1px;
  margin-bottom: 25px !important;
  margin-right: 20px;
  max-height: 380px;
}
.teams-card img {
  background-color: white;
}
.teams-card .image-div {
  height: 50%;
}
.teams-card .image-div img {
  height: 100%;
  object-fit: contain;
  padding: 1.2rem;
  max-height: 155px;
}
.check-team {
  background-color: #018786 !important;
  color: white !important;
  border: none;
  width: 100%;
  margin-top: 20px;
  height: 2.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.check-team:hover {
  color: #018786 !important;
  background-color: white !important;
}
.teamList {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
/*teams table*/

.teams .tab-pane label {
  color: white !important;
}
.teams .dataTables_info {
  color: white !important;
}
.teams .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: 272727 !important;
  border: none;
}
.teams .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  color: white !important;
}
.teams .nav-tabs {
  border-bottom: none !important;
}
.teams .tab-content {
  padding: 30px;
  max-width: 100%;
}
.pagination {
  margin-top: 20px !important;
}
.teams .pagination .page-link {
  background-color: #272727 !important;
  color: white;
  border: none;
}
.teams .page-item.active .page-link {
  background-color: #018786 !important;
}
.teams .card {
  background-color: #272727;
  border: none !important;
  color: white;
}
.teams .card h1 {
  text-align: left !important;
}
.teams .card-img-top {
  max-width: 250px !important;
}
.teams .table {
  color: white;
}
/*team info*/
.team-info {
  padding-bottom: 50px;
  margin-top: 50px;
}
.team-info .card {
  background-color: #272727;
  border: none !important;
}
.team-info .card h1 {
  text-align: left !important;
}
.team-info .card img {
  max-width: 250px;
}
.team-info .image-team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-info .list-players img {
  max-width: 30px;
  margin-right: 10px;
}
.team-info .list-group-item {
  color: white;
  background-color: #272727;
  border: 0.5px solid white;
  border-bottom: 0.5px solid white;
  padding: 25px;
}
/*login*/

.login .card {
  background-color: transparent !important;
  margin-top: 20px;
  border: #018786 3px solid !important;
}

.login input {
  background-color: #272727 !important;
  border: #dadada 1px solid;
  color: #dadada !important;
  margin-bottom: 5px;
  font-size: 16px !important;
}

.login input::placeholder {
  color: white;
  opacity: 1;
  font-size: 16px !important;
}
.login input:focus {
  color: white;
  opacity: 1;
}

.login-button {
  background-color: #018786;
  border: none;
  color: white !important;
  width: 100%;
}

.login-button:hover {
  color: #018786 !important;
  background-color: white;
}

.no-account a {
  color: white !important;
  padding-left: 5px;
}
.no-account p {
  color: #dadada !important;
}

.google-button {
  border: #dadada solid 1px;
  width: 100% !important;
}

.google-button a {
  color: #272727;
  text-decoration: none;
}
.login .card-body {
  padding: 10%;
}
/*singUp*/

.sing-up .card {
  background-color: transparent !important;
  margin-top: 20px;
  border: #018786 3px solid !important;
}

.sing-up input {
  background-color: #272727 !important;
  border: #dadada 1px solid;
  color: #dadada !important;
  margin-bottom: 5px;
  font-size: 16px !important;
}
.sing-up .form-outline {
  padding-bottom: 15px;
}
.sing-up input::placeholder {
  color: white;
  opacity: 1;
  font-size: 16px !important;
}
.sing-up input:focus {
  color: white;
  opacity: 1;
}

.auth-text a {
  color: white !important;
  padding-left: 5px;
}
.auth-texts p {
  color: #dadada !important;
}

.google-button {
  border: #dadada solid 1px;
  width: 100% !important;
}

.google-button a {
  color: #272727;
  text-decoration: none;
}
.sing-up .card-body {
  padding: 8% 10%;
}

/* Edit page */

.popup {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  height: 250px;
  width: 500px;
  background: #fff;
  color: black;
}

.passPop {
  display: none;
}

.emailPop {
  display: none;
}

.userPop {
  display: none;
}

/*back to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: #018786;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
}

#myBtn:hover {
  background-color: #018786;
  fill: white;
}

/*favourites*/
.star-button {
  background-color: transparent !important;
  color: white;
  box-shadow: none;
  border: none;
  height: 10px;
  font-size: 22px;
}
.fa-star {
  background-color: transparent !important;
  color: gray;
  box-shadow: none;
  border: none;
  height: 10px;
  font-size: 22px;
}
.checked {
  color: orange;
}
.list-favourites .list-group-item {
  background-color: #272727;
  border: 0.5px solid white;
  border-bottom: 0.5px solid white;
  padding: 20px;
  color: white;
}
/*editprofile*/

.edit-profile {
  color: white !important;
}
.edit-profile .card {
  background-color: #272727;
}
.edit-profile .text-muted {
  color: white !important;
  font-size: 18px;
  padding-bottom: 15px !important;
}
.edit-profile .rounded-circle {
  background-color: white;
}
.align-edit-profile {
  display: flex;
  justify-content: center;
}
.edit-profile .labels {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.edit-button {
  border-radius: 5%;
  background-color: #018786;
  border: none;
  color: white;
  padding: 6px 10px;
}
.edit-button:hover {
  background-color: white;
  color: #018786;
}
@media only screen and (max-width: 600px) {
  .navbar-collapse {
    background-color: #272727;
    z-index: 9999;
  }
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 34px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  .container {
    padding: 10px 25px;
  }
  .display-none {
    display: none !important;
  }
}
